.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-4);
  align-items: center;
}

.brand_container {
  text-align: left;
  color: white;
}

.search_container {
  width: 800px;
}

.avatar_container {
  text-align: right;
}
